body {
    background-color: lightblue;
    font-family: 'Segoe UI';
}

.container {
    margin-top: 30px;
    margin: 0 auto;
    width: 500px;
    background-color: #fffaf9;
    padding: 50px 30px;
    border-radius: 1px;
    -webkit-box-shadow: 13px 12px 7px -9px rgba(201,195,201,1);
    -moz-box-shadow: 13px 12px 7px -9px rgba(201,195,201,1);
    box-shadow: 13px 12px 7px -9px rgba(201,195,201,1);

}

h1 {
    text-align: center;
    color: #3075a0;
    font-weight: 600;
}

h2 {
    color: #3075a0;
    font-weight: 600;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    flex-direction: row;
    margin: 5px 0;
}

.form-group input {
    width: 50%;
}

.form-group:last-child {
    margin-bottom: 10px;
}

input, select {
    float: right;
}

input[type="submit"]{
    width: 150px;
    cursor: pointer;
    background-color: #3075a0;
    color: white;
    padding: 4px;
    border-radius: 3px;
    border-color: #3075a0;
}

.botao {
    margin-top: 30px;
    float: right;  
}
